{% extends 'base.html' %}
{% block content %}
	{% load static %}
	<head>
		<!-- these can be moved the base.html  -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<link rel = "stylesheet"
			type="text/css"
			href="{% static 'app/form.css' %}" />
		</head>
		<div id="travelForm">
			<form action="">
				<input type="text" name="from_" placeholder="From">
				<input name="from_date" id="from_date">
				<input type="text" name="to" placeholder="To">
				<input name="to_date" id="to_date">
				<input type="submit" value="Submit">
			</form>
		</div>
		<div id="loader">
			<div class="spinner"></div>
		</div>
		<div  id="travelInfo">
			<div id="travelTable">	</div>
		</div>
		<!-- holy fuck this script does everything -->
		<!-- this schould eventually be moved to it's own .js file -->
		<script type="text/javascript">
			$("form").submit(function(event){
				event.preventDefault();
				var formData = $("form").serializeArray();
				$("#loader").css("display", "inline");
				$("#travelForm").css("display", "none");
				$.post("/", formData, function(data)
					{
					
					var json_data = JSON.parse(data);
					var elements = json_data.length;
						for (i = 0; i < elements; i++){
						console.log(json_data[i]);
						var connections = json_data[i].Connections;
						var price = json_data[i].Price;
						var emissions = json_data[i].Emissions;
						$("#travelTable").after(
							`<div class="card">
			<div class="card-content">
				<div class="media">
					<div class="media-left">
						<figure class="image is-48x48">
							<img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
						</figure>
					</div>
					<div class="media-content">
						<p class="title is-4">${emissions} tCO2 </p>
						<p class="subtitle is-6"> £ ${price}</p>
					</div>
				</div>
				<div class="content"></div>
			</div>
		</div>`
						);
					}
					$("#loader").css("display", "none");
					$("#travelInfo").css("display", "inline");
				})
			});
		</script>
		<script type="text/javascript">
			var date_formatting = { dateFormat: "Y-m-d" };
				flatpickr("#from_date",	date_formatting );
		</script>
		<script type="text/javascript">
			var date_formatting = { dateFormat: "Y-m-d" };
				flatpickr("#to_date",	date_formatting );
		</script>
	{% endblock %}