{% extends 'base.html' %}
{% block content %}
	{% load static %}
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<link rel = "stylesheet"
			type="text/css"
			href="{% static 'app/form.css' %}" />
		</head>
		<div class="columns" id="travelForm">
			<form action="">
				<div class="column is-offset-one-quarter">
					<div class="form">
						<input class="input is-rounded"type="text" name="from_" placeholder="From" required>
						<input class="input is-rounded" type="text" name="to" placeholder="To"
						required>
					</div>
				</div>
				<div class="column is-offset-one-quarter">
					<div class="form">
						<input class="input is-rounded" name="from_date" id="from_date" required>
						<input class="input is-rounded" name="to_date" id="to_date" required>
					</div>
				</div>
				<div class="column is-offset-one-quarter">
					<div class="form">
						<div class="select is-rounded is-multiple is-medium">
							<select name="adult">
								<option value="" disabled selected> Adult </option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
						<div class="select is-rounded is-multiple is-medium" >
							<select name="children">		<option value="" disabled selected> Children </option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</div>
					</div>
				</div>
				<div class='column'>
					<div class="form">
						<button class="button is-medium is-rounded"type="submit" value="Submit">
						Get Flights
						</button>
					</div>
				</div>
			</form>
		</div>
		<div id="loader">
			<div class="spinner">
				<div class="dot1"></div>
  				<div class="dot2"></div>
			</div>
		</div>
		<div  id="travelInfo">
			<div id="travelTable">	</div>
		</div>
		<!-- holy fuck this script does everything -->
		<!-- this schould eventually be moved to it's own .js file -->
		<script type="text/javascript">
			$("form").submit(function(event){
				event.preventDefault();
				var formData = $("form").serializeArray();
				$("#loader").css("display", "inline");
				$("#travelForm").css("display", "none");
				$.post("/", formData, function(data)
					{
					
					var json_data = JSON.parse(data);
					var elements = json_data.length;
						for (i = 0; i < elements; i++){
						var connections = json_data[i].Connections;
						var price = json_data[i].Price;
						var emissions = json_data[i].Emissions;
						$("#travelTable").after(
							`<div class="column is-5 is-offset-one-fifth">
		<div class="card">
			<header class="card-header">
				<p class="card-header-title"></p>
			</header>
			<div class="card-content">
				<div class="media">
					<div class="media-left">
						<figure class="image is-24x24">
							<img src="{% static 'app/images/earth-grid-symbol.png' %}" alt="Placeholder image">
						</figure>
					</div>
					<div class="media-content">
						<p class="subtitle-title is-5">${emissions} tCO2 </p>
						<p class="subtitle is-5"> £ ${price}</p>
					</div>
				</div>
				<div class="content"></div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item"></a>
			</footer>
		</div>
	</div>`
						);
					}
					$("#loader").css("display", "none");
					$("#travelInfo").css("display", "inline");
				})
			});
		</script>
		<script type="text/javascript">
			var date_formatting = { dateFormat: "Y-m-d" };
					flatpickr("#from_date",	date_formatting );
		</script>
		<script type="text/javascript">
			var date_formatting = { dateFormat: "Y-m-d" };
					flatpickr("#to_date",	date_formatting );
		</script>
	{% endblock %}